extends layout

block content
  h1= title
  p
    span [PC] Get printer status 
      a(href='mcp/status') mcp/status
  p
    span [PC] Notify printer 
      a(href='mcp/notify') mcp/notify
  p
    span [Printer] Wait for print job 
      a(href='mcp/wait') mcp/wait
